body {
    background-color: cadetblue;
    overflow-y: hidden;
}
#dotCont, #buttCont {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
   
}
#buttCont {
    align-items: center;
}
.dot {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    margin: 10px;
}
#compPoints, #playPoints {
    display: flex;
}
Button, #buttPic {
    width: 200px;
    height: 200px;
    background-color: rgb(26, 189, 211);
    border: 3px solid rgba(5, 1, 2, 0.377);
    font-size: 50px;
}
#buttPic {
   display: flex;
   align-items: center;
   justify-content: center;
}
img {
    width: 500px;
    height: 500px;
}
#endCont {
width: 500px;
height: 500px;
transform: translate(-300%);
transition: 0.75s ease-in-out transform;

}
#restart {
    background-color: rgb(20, 133, 148);
    border: 3px solid rgb(10, 123, 138)
}
#restart:hover, Button:hover {
    background-color: rgb(25, 158, 175);
    opacity: 0.8;
    transform: scale(0.95);
}
#restart:active, Button:active {
  opacity: 0.5;
}
#endScreen {
    font-size: 50px;
}