body {
    background-color: cadetblue;
}
#dotCont, #buttCont {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
}
#buttCont {
    align-items: center;
}
.dot {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    margin: 10px;
}
#compPoints, #playPoints {
    display: flex;
}
Button {
    width: 200px;
    height: 200px;
    background-color: rgb(26, 189, 211);
}